// @font-face {
//   font-family: BodoniXT;
//   font-weight: regular;
//   src: url('BodoniXT.ttf');
// }
@import '_reset';
@import '_colors';

body {
  font-family: 'Arial', sans-serif;
  color: #000;
  background: $field;
  position: relative;
  height: 100vh;
  margin: 0;
}

@import 'rgl_styles';
@import 'rgl_styles2';
