body {
  font-family: fantasy;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.logo-box {
  margin-right: 30px;
  border: solid 2px black;
  border-radius: 10px;
  background: lightgreen;
  padding: 5px 10px;
}
