@import 'scss/_colors';

.board-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  height: 500px;
  overflow-y: scroll;
  color: black;
  margin: 60px auto;
}

.col-headers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 24px;
}

.column {
  width: 23.5%;

  header {
    text-align: center;
    border-bottom: solid 1px black;
  }
}

.column:first-of-type {
  margin-left: 10px;
}

.column:last-of-type {
  margin-right: 10px;
}

.card-container {
  height: 100px;
  text-overflow: ellipsis;
  padding: 10px;
  margin: 10px 0;
  border: solid 1px black;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.15);

  header {
    border-bottom: solid 1px black;
    overflow: hidden;
    margin-bottom: 10px;
  }
}
