@import 'scss/_colors';

.board-container {
  display: flex;
  justify-content: space-between;
  color: black;
  margin: 140px 50px;
}

.column {
  width: 20%;

  header {
    text-align: center;
    border-bottom: solid 1px black;
  }
}

.column:first-of-type {
  margin-left: 2.5%;
}

.column:last-of-type {
  margin-right: 2.5%;
}

.card-container {
  height: 100px;
  text-overflow: ellipsis;
  padding: 10px;
  margin: 10px 0;
  border: solid 1px black;
  box-sizing: border-box;
}
